# Dependabot will run on day 27 of each month at 02:22 (Europe/Berlin timezone)
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "22 2 27 * *"
    open-pull-requests-limit: 15
    assignees:
      - "Sneak-L8"
    versioning-strategy: "increase"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "22 2 27 * *"
    open-pull-requests-limit: 15
    assignees:
      - "Sneak-L8"
